<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll</title>
</head>
<body>
    <header class="bg-red">
        <nav class="flex flex-row w-full text-white bg-red-500 ">
            <ul class="flex flex-row p-5 space-x-20 justify-center w-full">
                <li>Home</li>
                <li>About</li>
                <li>joinus</li>
            </ul>
           
        </nav>
    </header>
    
    <h1>Django site</h1>
    
</body>
</html>